::-webkit-input-placeholder { /* WebKit browsers */
　　color:#FFFFFF;
}
::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
　　color:#FFFFFF;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
　　color:#FFFFFF;
}
::-ms-input-placeholder { /* Internet Explorer 10+ */
　　color:#FFFFFF;
}
html, body,ul,li,p{
	margin: 0;
	padding: 0;
}
*{
	text-align: center;
}
html, body{
	background-color: #f0f3f4;
	overflow: hidden;
}
a{
	text-decoration: none;
}
.bg-success{
	background-color: #13CE66;
}
.bg-warn{
	background-color: #F7BA2A;
}
.bg-danger{
	background-color: #FF4949;
}
.hide{
	display: none !important;
}
.clear{
	clear:both;
}
.view{
	height: 100%;
}
.main{
	margin:50px 0 0 200px;
	height: -moz-calc(100% - 50px);
	height: -webkit-calc(100% - 50px);
	height: calc(100% - 50px);
	width: -moz-calc(100% - 200px);
	width: -webkit-calc(100% - 200px);
	width: calc(100% - 200px);
	overflow: auto;
}
